:root {
    --primary_color: #e056fd;
    --primary_color_variant:#be2edd;
    --warning:#f0932b;
    --danger:#eb4d4b;
    --success:#379e44;
    --info:#686de0;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@font-face {
    font-family: "Playfair";
    src: local("Playfair"), url(./fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Musicografi";
    src: local("Musicografi"), url(./fonts/Musicografi.ttf);
}

img {
    justify-content: center;
    display: flex;
}

i {
    font-size: 2em;
}


.header-login-div {
    margin: 10px 33%;
    border-radius: 25px;
    background-color: rgb(45 38 46);
    border: solid 2px var(--primary_color);
    opacity: 98%;
}

.heading-login, #not-found > h1 {
    padding-top:20px;
    text-align: center;
    font-family: "Musicografi" ;
}

.rainbow-lr{
    background-image: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet)!important;
    -webkit-text-fill-color:transparent!important;
    background-clip: text;
    -webkit-background-clip: text;

}
.rainbow-td {
    /* background: linear-gradient(to bottom, red, orange , yellow, green, cyan, blue, violet); */
    background: linear-gradient(to bottom, violet, red, orange , yellow, green, cyan, blue);
-webkit-text-fill-color:transparent!important;
background-clip: text;
-webkit-background-clip: text;
}


.container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.center {
    position: relative;
    margin: auto;
    top: 10%;
    padding: 10px;
    margin:auto;
    }


#app-login {

    width: 500px;
    padding: 20px 40px;
    border-radius: 20%;
    border: 4px solid var(--primary_color);
    background-color: rgb(45 38 46);
    color: var(--primary_color_variant);
    opacity: 98%;
    text-align: center;
}

body {
    font-family: "Circular";
}

#app-login * {
    animation: fadein 0.3s linear backwards;
}

.login, .not-found {
    background-image: url('../public/img/vinyl-background.jpg');
    background-repeat:round
}

.reset-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    position: fixed;
}

#app-login-container > h1 {
    text-align: center;
}

.hr-text {
    height: 15px;
    width:100%;
    border-bottom: solid 2px #000;
    text-align: center;
    margin: 2em 0;
    }

.hr-text span {
background: #fff;
color: #000;
position: relative;
top: 0;
padding: 0 20px;
line-height:30px;
}

#brand {
    font-family:"Musicografi";
}

#log-submit {
    width: 100px;
    margin: 10px 0 15px 0;

}

#switch {
    display: block;
    margin: auto;
}

#not-found {
    width: 500px;
    border-radius: 100px;
    text-align: center;
    opacity: 95%;
    font-size: 24px;
}
#not-found > h1 {
    font-size: 70px;
}

#theme-toggler {
    margin: 0 30px;
}

.btn-primary {
    background-color: var(--primary_color);
    border-color: var(--primary_color);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: var(--primary_color_variant);
    border-color: var(--primary_color_variant);
}

.btn-outline-primary {
    color: var(--primary_color_variant);
    border-color: var(--primary_color_variant);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--primary_color_variant);
    border-color: var(--primary_color_variant);
}
.playlist-card {
    margin: 10px 20px;
}

#img-container {
    width: 445px;
    border: 2px solid var(--primary_color);
    border-radius: 25px;
    padding: 20px;
}

.alert-component {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.5em;
}